body {
    background-color: rgba(20,21,25,255);
    margin:0px;
    padding:0px;
    font-family: overpass;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.rating_state {
    background-image: linear-gradient(hsl(201, 22%, 20%),hsl(240, 22%, 20%));
    padding: 20px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
}
.rating_state p{
    font-size: 15px;
    font-family: overpass;
    margin:3px;
}
#msg{
    margin-bottom: 18px;
}
h2 {
    color: hsl(0, 0%, 100%);
}
.rating_parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.rating_parent input[type="radio"]
{
    display: none; 
    cursor: pointer;
    position: relative;
    bottom: 95%;
    right: 1%;
    transform: scale(3.5);
}
.rating_comp
{
    display: flex;
    gap:20px;
}
.rating_parent .container
{
    background-color:#4c5454;
    padding:10px;
    height:20px;
    width:20px;
    text-align: center;
    border-radius: 50%;
}
.container:hover
{
    background-color:hsl(25, 97%, 53%);
}
.rating_parent button {
    background-color: hsl(25, 97%, 53%);
    padding:10px;
    width:325px;
    border-radius: 15px;
    font-family: overpass;
    font-weight: 700;
}
.thankyou_comp
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.thankyou_comp h2{
    margin-bottom: 0;
}
.thankyou_comp p{
    color:hsl(217, 12%, 63%);
}
#rating_selected{
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid #4c5454;
    padding:5px 8px 5px 8px;
    border-radius: 20px;
    background-color:#4c5454;
    color:hsl(25, 97%, 53%);
    font-size:12px;
}